html {
    font-family: Arial;
    width: 90%;
    margin: auto;
}

/* styles for title box */
.outline-header {
    width: 100%;
}

.outline-header input {
    font-size: 25px;
    font-weight: bold;
    border:none;
    width:100%;
}
.outline-header input:hover {
    outline: 2px solid #eee;
}

.outline-list {
    list-style-type: none;
    padding: 0;
    margin:none;
}

/* styles for lines */
.outline-list div {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.outline-list div:hover {
    outline: 2px solid #eee;
}
.outline-list div:focus {
    outline: 2px solid #bbb;
}

/* styles for line indentation levels */
.level1 {
    height: 22px;
    font-size: 20px;
    padding: 4px;
}
.level2 {
    height: 20px;
    font-size: 18px;
    padding: 2px;
}
.level3 {
    height: 18px;
    font-size: 16px;
}
.level4 {
    height: 16px;
    font-size: 14px;
}

/* link styles */
a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid;
}

/* header styles */
.page-header a {
    color: #444;
    text-decoration: none;
    border: none;
}

.header-connected {
    color: #449944;
}

/* about page styles */
.about {
    max-width: 500px;
}
.about ul {
    list-style: none;
}

.go-back a {
    text-decoration: none;
    border: none;
    line-height: 12px;
}

.go-back span {
    font-size: 32px;
}


