<!doctype html>
<html ng-app='outlinear' ng-controller='OutlineCtrl'>

  <head>
    <title ng:bind-template='{{pageTitle()}}'>outlinear</title>
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/libs/jquery-ui-min.css'>
    <script src='js/libs/jquery.min.js'></script>
    <script src='js/libs/angular.min.js'></script>
    <script src='js/libs/jquery-ui.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.9.1/dropbox.min.js">
    </script>
    <script src='js/app.js'></script>
    <script src='js/services/LocalStorageService.js'></script>
    <script src='js/services/DropboxService.js'></script>
    <script src='js/controllers/OutlineCtrl.js'></script>
    <script src='js/controllers/DropboxCtrl.js'></script>
    <script src='js/directives/InputKeyBindings.js'></script>
    <script src='js/directives/ContentEditable.js'></script>
    <script src='js/directives/Autocomplete.js'></script>
  </head>

  <body>

    <header class='outline-header'>
      <div ng-controller='DropboxCtrl' style="float:right">
        <a href="#" ng-click='dropboxConnect()' ng-hide='dropboxConnected'>
          Connect to Dropbox
        </a>
        <span ng-show='dropboxConnected'>Connected!</a>
      </div>
      <input type='text' ng-model='outlineTitle' placeholder="untitled"
      ol-title-autocomplete>
    </header>

    <section class='outline-content'>
      <ul class='outline-list'>
        <li ng-repeat='line in content' style={{styleForLine(line)}}>
          <div
            contenteditable
            ng-model='line' ol-standard-input-keybindings
            ng-class="{
            level1: line.ind == 0,
            level2: line.ind == 1,
            level3: line.ind == 2,
            level4: line.ind > 2
            }"></div>
        </li>
      </ul>
    </section>

  </body>

</html>
